@use 'sass:color';

$background: #15121a;

$text: #dadada;
$text-gray: #7c7a7f;

$link: #9747cc;
$link-hover: #dbbfed;

$header: #36274e;
$header-toolbar: #251c36;
$header-hover-background: #231933;
$header-mobile-link-hover: #785b99;

$footer: #1d1924;
$footer-text: $text-gray;

$block-header: #3a314e;
$block-border: #332941;
$block-background: #1d1924;
$block-background-alternate: #16131b;

$media-box-border: #311e49;

$tag-background: #1b3c21;
$tag-count-background: #2d6236;
$tag-text: #4aa158;

$tag-rating-text: #418dd9;
$tag-rating-background: color.adjust($tag-rating-text, $lightness: -35%);
$tag-spoiler-text: #d49b39;
$tag-spoiler-background: color.adjust($tag-spoiler-text, $lightness: -34%);
$tag-origin-text: #6f66d6;
$tag-origin-background: color.adjust($tag-origin-text, $lightness: -40%);
$tag-oc-text: #b157b7;
$tag-oc-background: color.adjust($tag-oc-text, $lightness: -33%);
$tag-error-text: #d45460;
$tag-error-background: color.adjust($tag-error-text, $lightness: -38%, $saturation: -6%, $space: hsl);
$tag-character-text: #4aaabf;
$tag-character-background: color.adjust($tag-character-text, $lightness: -33%);
$tag-content-official-text: #b9b541;
$tag-content-official-background: color.adjust($tag-content-official-text, $lightness: -29%, $saturation: -2%, $space: hsl);
$tag-content-fanmade-text: #cc8eb5;
$tag-content-fanmade-background: color.adjust($tag-content-fanmade-text, $lightness: -40%);
$tag-species-text: #b16b50;
$tag-species-background: color.adjust($tag-species-text, $lightness: -35%);
$tag-body-type-text: #b8b8b8;
$tag-body-type-background: color.adjust($tag-body-type-text, $lightness: -35%, $saturation: -10%, $space: hsl);

$input-background: #26232d;
$input-border: #5c5a61;

$error-background: #7a2725;

$warning-background: #7d4825;
$warning-border: #95562c;
