$background: #15121a;

$text: #dadada;
$text-gray: #7c7a7f;

$link: #9747cc;
$link-hover: #dbbfed;

$header: #36274e;
$header-toolbar: #251c36;
$header-hover-background: #231933;
$header-mobile-link-hover: #785b99;

$footer: #1d1924;
$footer-text: $text-gray;

$block-header: #3a314e;
$block-border: #332941;
$block-background: #1d1924;
$block-background-alternate: #16131b;

$media-box-border: #311e49;

$tag-background: #1b3c21;
$tag-count-background: #2d6236;
$tag-text: #4aa158;

$input-background: #26232d;
$input-border: #5c5a61;

$error-background: #7a2725;

$warning-background: #7d4825;
$warning-border: #95562c;
