@mixin insert-icon($url) {
  mask-image: $url;
  -webkit-mask-image: $url;
}

.icon {
  mask-size: contain;
  mask-repeat: no-repeat;
  -webkit-mask-size: contain;
  -webkit-mask-repeat: no-repeat;
}

.icon.icon-tag {
  @include insert-icon(url('@fortawesome/fontawesome-free/svgs/solid/tag.svg'));
}

.icon.icon-paint-brush {
  @include insert-icon(url('@fortawesome/fontawesome-free/svgs/solid/paintbrush.svg'));
}

.icon.icon-arrow-left {
  @include insert-icon(url('@fortawesome/fontawesome-free/svgs/solid/arrow-left.svg'));
}

.icon.icon-info-circle {
  @include insert-icon(url('@fortawesome/fontawesome-free/svgs/solid/circle-info.svg'));
}

.icon.icon-wrench {
  @include insert-icon(url('@fortawesome/fontawesome-free/svgs/solid/wrench.svg'));
}

.icon.icon-globe {
  @include insert-icon(url('@fortawesome/fontawesome-free/svgs/solid/globe.svg'));
}

.icon.icon-plus {
  @include insert-icon(url('@fortawesome/fontawesome-free/svgs/solid/plus.svg'));
}

.icon.icon-file-export {
  @include insert-icon(url('@fortawesome/fontawesome-free/svgs/solid/file-export.svg'));
}
