@use '../colors';

input, textarea, select {
  background: colors.$input-background;
  border: 1px solid colors.$input-border;
  color: colors.$text;

  font-family: monospace;
  padding: 0 6px;
  line-height: 26px;
}

select {
  min-height: 28px;
}
