@use '../colors';

.media-box {
  position: relative;
  overflow: initial !important;

  .media-box-tools {
    &:before, &:after {
      display: none;
      content: '';
      position: absolute;
      top: -1px;
      bottom: 0;
      z-index: 8;
      background: colors.$footer;
      border-top: 23px solid colors.$media-box-border;
    }

    &:before {
      right: calc(100% - 1px);
      left: -50%;
      border-left: 1px solid colors.$media-box-border;
      box-shadow: colors.$footer -10px 0 10px;
    }

    &:after {
      left: calc(100% - 1px);
      right: -50%;
      border-right: 1px solid colors.$media-box-border;
      box-shadow: colors.$footer 10px 0 10px;
    }
  }

  .maintenance-popup {
    display: none;
    position: absolute;
    top: 100%;
    padding: 5px;
    left: -50%;
    right: -50%;
    z-index: 8;
    background: colors.$footer;
    border: 1px solid colors.$media-box-border;
    border-top: 0;

    .tags-list {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 6px;

      .tag {
        margin: 0;
      }
    }

    .tag {
      cursor: pointer;
      padding: 0 6px;
      user-select: none;

      &:hover {
        background: colors.$tag-text;
        color: colors.$tag-background;
      }

      &.is-missing:not(.is-added),
      &.is-present.is-removed {
        opacity: 0.5;
      }
    }
  }

  .maintenance-status-icon {
    position: absolute;
    bottom: 6px;
    right: 6px;
  }

  .media-box-tools:not(.has-active-profile) .maintenance-status-icon {
    display: none;
  }

  &:hover {
    .media-box-tools.has-active-profile {
      &:before, &:after {
        display: block;
      }
    }

    .maintenance-popup.is-active {
      display: block;
    }
  }
}
