@use '../colors';

.media-box {
  position: relative;
  overflow: initial !important;

  .maintenance-popup {
    display: none;
    position: absolute;
    top: 100%;
    padding: 5px;
    left: -50%;
    right: -50%;
    z-index: 8;
    background: colors.$footer;
    border: 1px solid colors.$media-box-border;

    .tags-list {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 6px;

      .tag {
        margin: 0;
      }
    }

    .tag {
      padding: 0 6px;
    }
  }

  &:hover .maintenance-popup.is-active {
    display: block;
  }
}
