@use '$styles/booru-vars';

.block.tag-presets {
  .tag {
    cursor: pointer;
    user-select: none;

    &.is-missing {
      opacity: 0.5;
    }

    &:hover {
      color: booru-vars.$resolved-tag-background;
      background: booru-vars.$resolved-tag-color;
    }
  }
}
