@use '$styles/booru-vars';

.block.tag-presets {
  .tag {
    cursor: pointer;

    &.is-missing {
      opacity: 0.5;
    }

    &:hover {
      color: booru-vars.$resolved-tag-background;
      background: booru-vars.$resolved-tag-color;
    }
  }

  .block.block--fixed.block--warning {
    margin: {
      top: booru-vars.$block-spacing;
      bottom: 0;
    }
  }
}
